.heroformhead{
    margin-bottom: 0;
    font-size: 40px;
    font-weight: 600;
    letter-spacing: -.45px;
    margin: .67em 0;
    text-align: left;
    margin-left:30px;
    margin-top:-50px;
    overflow: hidden;
}
.heroformsubhead{

    font-size: 23px;
    font-weight: 400;
    width: 600px;
    margin-top: -31px;
    margin-bottom: 0;
    line-height: 40px;
    letter-spacing: -.3px;
    color: #686b78;
    margin-left:-39px;
}
@media(max-width:515px){
    .heroformsubhead{
        margin-left: 7vw;
        max-width: 70vw;
        line-height: 20px;
        margin-top: 2vh;
    }
     
 }
@media(max-width:425px){
    .heroformhead{
        font-size: 30px;
        font-weight: 450;
        margin-left:35px;
        margin-bottom: 50px;
        max-width: 70vw;
    }
}
@media(max-width:215px){
    .heroformhead{
        font-size: 20px;
        font-weight: 350;
        margin-left:6vw;
    }
}
@media(min-width:363px) and (max-width:410px){
    .heroformhead{
        margin-left:30px;
    }
}