.feature_flex{
    display:flex;
    flex-direction: row;
    flex-wrap: row wrap;
    justify-content: space-between;
    padding-left:22px;
    padding-right: 22px;
    padding-bottom: 80px;
    margin: 0 auto;
    background: #2b1e16;
}
.feature_col{
    color: #fff;
    text-align: center;
    font-weight: 300;
    letter-spacing: 0;
}
@media(max-width:810px){
    .feature_flex{
    display:flex;
    flex-direction: column;

    }
}