.footerul{
    list-style-type: none;
    text-align: left;
    margin: 0;
    padding: 0;
    margin-top: 30px;   
}
.footerul li{
    font-size: 17px;
    margin-top: 15px;
}

.footeranchor{
    text-decoration: none;
    color:inherit;
    
}

.footeranchor:first-child{
margin-top: 0px;
}
.footeranchor:hover{
    font-weight: bold;
    color:white;
}

.footerh4{
    color:gray;
    text-align: left;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 600;
    font-family: ProximaNova,Arial,Helvetica Neue,sans-serif;
    letter-spacing: 0;
    margin:0px;
}

.footernav{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 20px;
    
}